#inbox {
    height: 90%;
    font-size: 4vh;
    text-align: center;
    display: grid;
    vertical-align: bottom;
    grid-template-rows:80% 20%;
    background:lightyellow;
}
#organizer {
    height: 90%;
    background-color: lightblue;
}
#organizer > div{
    font-size: 4vh;
    text-align: center;
    display: grid;
    grid-template-columns: auto 8% 8% 8% 8% 8%;

}

#stuff-entry {
    font-size: 4vh;
    border: 3px solid black;
}

#stuff-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
#stuff-list div{
border-bottom: 1px gray solid;

}

#app-title {
    height: 10%;
    font-size: 5vh;
    text-align: center;
    margin-bottom: 0;
}

nav {
    display:grid;
    grid-template-columns: auto auto auto 5% 5%;
    font-size: 3vh;
    text-align:center;
    border:1px solid black;
}

#nav-inbox {
    background:lightyellow;
}
#nav-org {
    background:lightblue;
}

.button {
    border: solid black 1px;
}
#two-minute {
    background:lightgreen;
}
#discard {
    background:lightcoral;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
